name: Exchange Token
on: workflow_dispatch

jobs:
  exchange:
    runs-on: ubuntu-latest
    steps:
      - name: Install Rclone
        run: sudo apt-get install -y rclone
      - name: Get Final Token
        run: |
          # 请将下方的 YOUR_CODE_HERE 替换为你刚才从地址栏复制的 code
          # 注意：code 里面如果有特殊字符，建议加引号
          rclone authorize "drive" "4/0ASc3gC2S5eNp9JOTG-OptTaKDGcK6q9EvnvpztUEp8X0UdmWCKSqLc_2MWwhE8fbI72tnQ"
